 /* Style the list */
ul.breadcrumb {
  /* padding-left: 6px; */
  padding: 0;
  margin: 0 5px;
  list-style: none;
  /* background-color: #1e1d32; */
  /* text-align: left; */
  text-align: left;
  line-height: 1.5em;
}

/* Display list items side by side */
ul.breadcrumb li {
  display: inline;
  font-size: 18px;
}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li+li:before {
  /* padding: 8px; */
  color: var(--dark_blue);
  content: "> ";
}

/* Add a color to all links inside the list */
ul.breadcrumb li a {
  /* color: rgb(167, 25, 75); */
  color: var(--light_maroon);
  /* color: var(--light_blue); */
  text-decoration: none;
  font-weight: lighter;
}

/* Add a color on mouse-over */
ul.breadcrumb li a:hover {
  /* color: #01447e; */
  text-decoration: underline;
} 